---
import HeaderLink from './HeaderLink.astro';
import { mkHomeLink, mkNowLink, mkBlogLink, mkResumeLink, mkLinksLink } from '../consts';
---

<header>
	<nav>
		<div>
			<a class="home-link" href={mkHomeLink()}>alex<br>caza</a>
		</div>
		<div>
			<HeaderLink href={mkNowLink()}>now</HeaderLink>
			<HeaderLink href={mkBlogLink()}>thoughts</HeaderLink>
			<HeaderLink href={mkResumeLink()}>resume</HeaderLink>
			<HeaderLink href={mkLinksLink()}>links</HeaderLink>
		</div>
	</nav>
	<hr class="header-rule" />
</header>
<style>
	header {
		max-width: 640px;
	}

	nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 743px) {
			padding-bottom: 1rem;
		}

		@media (min-width: 744px) {
			padding-bottom: 1.25rem;
		}
	}

	nav div {
		flex-direction: row;
		align-items: center;
	}

	nav a:not(.home-link) {
		font-family: 'IBM Plex Sans', sans-serif;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.07em;
		text-decoration: none;

		&:hover {
			opacity: 0.5;
		}

		@media (max-width: 743px) {
			font-size: 0.625rem;
			padding-inline: 0.5rem;
		}

		@media (min-width: 744px) {
			font-size: 0.6875rem;
			padding-inline: 0.75rem;
		}
	}

	nav a:not(.home-link):not(.active) {
		@media (prefers-color-scheme: light) {
			color: var(--main-text);
		}

		@media (prefers-color-scheme: dark) {
			color: var(--main-text-dark);
		}
	}

	.home-link {
		font-family: 'IBM Plex Sans', sans-serif;
		font-weight: 700;
		text-decoration: none;
		letter-spacing: -0.03em;

		@media (prefers-color-scheme: light) {
			color: var(--main-text);
		}

		@media (prefers-color-scheme: dark) {
			color: var(--main-text-dark);
		}

		@media (max-width: 743px) {
			font-size: 1.5rem;
			line-height: 1;
		}

		@media (min-width: 744px) {
			font-size: 2rem;
			line-height: 1;
		}
	}

	.header-rule {
		@media (max-width: 743px) {
			margin-bottom: 2rem;
		}

		@media (min-width: 744px) {
			margin-bottom: 3.5rem;
		}
	}
</style>
